.vscode/settings.json
.cache/clangd/index/drawable.h.A6448C3811A1BFEC.idx
.cache/clangd/index/glad.c.DCC8C3E3B300477C.idx
.cache/clangd/index/glad.h.737892A592161926.idx
.cache/clangd/index/main.cpp.B83941B9871B61F2.idx
.cache/clangd/index/movable.cpp.28F110D85F67E9F4.idx
.cache/clangd/index/movable.h.0C078C2F39EB27D4.idx
.cache/clangd/index/shaders.cpp.292064D223940EAB.idx
.cache/clangd/index/shape.cpp.09BB62A9D385F7F6.idx
.cache/clangd/index/shape.h.277BF9BE42974321.idx
.cache/clangd/index/stb_image.h.310A6E0CE1AF3357.idx
.cache/clangd/index/texture.cpp.B2655278485EC9C8.idx
.cache/clangd/index/texture.h.4FF77CB6AE496743.idx
.cache/clangd/index/triangle.cpp.E015851274F9E9FF.idx
.cache/clangd/index/triangle.h.232D1E6279556A3B.idx
.cache/clangd/index/vertices.cpp.9EB8B2887399FDF7.idx
.cache/clangd/index/window.cpp.E7AF3A29C68B8BAD.idx
.cache/clangd/index/window.h.582575BD6233D46B.idx
.idea/.gitignore
.idea/draw-machine.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.1/CMakeCCompiler.cmake
build/CMakeFiles/3.26.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.1/CMakeSystem.cmake
build/CMakeFiles/3.26.1/CompilerIdC/a.out
build/CMakeFiles/3.26.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.1/CompilerIdCXX/a.out
build/CMakeFiles/3.26.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/draw-machine.dir/glad.c.o
build/CMakeFiles/draw-machine.dir/main.cpp.o
build/CMakeFiles/draw-machine.dir/window.cpp.o
build/glad/cmake_install.cmake
build/primitives/cmake_install.cmake
build/primitives/libprimitives.a
build/primitives/CMakeFiles/primitives.dir/Triangle.cpp.o
